# Python
__pycache__/
*.py[cod]

# Django Database
db.sqlite3
db.sqlite3.backup

# Media Uploads
media/

# Collected Static Files
staticfiles/

# Virtual Environment
campusplaceaienv/
venv/
.env

# VS Code
.vscode/

# Logs
*.log

# ML Models
*.pkl
*.joblib

# OS Files
.DS_Store

ai_engine/models/
*.pkl